<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    {% for user in users %}
        <ul>
            <p>User {{ user.id }}</p>
            <li>User name : {{ user.name }}</li>
            <li>User surname : {{ user.surname }}</li>
            <li>User age : {{ user.age }}</li>
            <li>User address : {{ user.address }}</li>
        </ul>
    {% endfor %}
</body>
</html>